* {
	box-sizing: border-box; /*Сброс настроек отступов */
	font-family: Arial, sans-serif; /*Тип шрифта */
}
body, html {
    margin: 0px;
	padding: 0px;
}
.mytext {
    background: url(../img1/1.jpg);
}
.pluses {
    width: 100%;
    max-width: 2500px;
    height: 500;
    margin: 0;
    text-align: center;
    color: black;
    background: url(../img1/55.jpg);
    background-size: cover;
}

@import url(http://fonts.googleapis.com/css?family=Capriola);
/*Первая строка нужная для того что бы скачать необходимые шрифты,если их нет на компьютере у клиента*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu {
    zoom: 1;
    height: 69px;
    background: url(../img1/bottom-bg.png) repeat-x center bottom;
    border-radius: 2px;
    width: auto;
}
#cssmenu ul {
    background: url(../img1/nav-bg.png) repeat-x 0px 4px;
    height: 69px;
}
#cssmenu ul li {
    float: right;
    list-style: none;
}
#cssmenu ul li a {
    display: block;
    height: 65px;
    padding: 22px 30px 0;
    margin: 4px 2px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;
    opacity: .9;
}
#cssmenu ul li:first-child a {
    margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li .active a {
    background: url(../img1/color.png) center bottom;
    display: block;
    height: 65px;
    margin-top: 0px;
    padding-top: 26px;
    color: #004f7c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
    opacity: 1;
}
#slider-wrap{ /* Оболочка слайдера и кнопок */
    width: 1348px;
    }
#slider{ /* Оболочка слайдера */
    width:100%;
    height: 550px;
    overflow: hidden;
    position:relative;
}
.slide{ /* Слайд */
    width:100%;
    height:100%;
    }
.sli-links{ /* Кнопки смены слайдов */
    margin-top:10px;
    text-align:center;
}
.sli-links .control-slide{
    margin:6px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../img1/radioBg.png) center bottom no-repeat;
}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;
}
.sli-links .control-slide.active{
    background-position:center top;
}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:15px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url(../img1/arrowBg.png) left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;
}
#prewbutton{left:10px;
}
#nextbutton{
    right:10px;
    background:url(../img1/arrowBg.png) right center no-repeat;
}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;
}
.text {
    font-size: 16px;
    color: black; 
    background: url(../img1/images.jpg); /*Фоновая картинка */ 
	background-size: cover; /* Растянуть фоновую картинку */
    padding-top: 10px;
    padding-right: 30px; /*Внутренний отступ справа*/
    padding-left: 30px; /*Внутренний отступ слева*/
    font-family: sans-serif;
}