* {
	box-sizing: border-box; /*Сброс настроек отступов */
	font-family: Times New Roman, Sans-serif; /*Тип шрифта */
}
@import url(http://fonts.googleapis.com/css?family=Capriola);
/*Первая строка нужная для того что бы скачать необходимые шрифты,если их нет на компьютере у клиента*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu {
    zoom: 1;
    height: 69px;
    background: url(../img1/bottom-bg.png) repeat-x center bottom;
    border-radius: 2px;
    width: auto;
}
#cssmenu ul {
    background: url(../img1/nav-bg.png) repeat-x 0px 4px;
    height: 69px;
}
#cssmenu ul li {
    float: right;
    list-style: none;
}
#cssmenu ul li a {
    display: block;
    height: 65px;
    padding: 22px 30px 0;
    margin: 4px 2px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;
    opacity: .9;
}
#cssmenu ul li:first-child a {
    margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li .active a {
    background: url(../img1/color.png) center bottom;
    display: block;
    height: 65px;
    margin-top: 0px;
    padding-top: 26px;
    color: #004f7c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
    opacity: 1;
}
.mytext {
    width: 100%;  /*Ширина */
	height: 280px;
	background: url(../img1/25.jpg); /*Фоновая картинка */ 
	background-size: cover; /* Растянуть фоновую картинку */
	background-position: center; /*Центрировать фон */
	color: black; /*Белый цвет шрифта */
	text-align: center; /*Центрировать текст внутри блока */
	padding-top: 0px; /*Отсуп сверху */
    font-size: 40px;
}
body {
    background-color: cornflowerblue;
}
.mytext1 {
    width: 100%;
    height: auto;
    margin-left: 150px;
    margin-right:100px;
    font-size: 20px;
    padding-right: 350px;
    font-size: 15px;
}